body {padding:20px;}

/* warning massage */
.warning-msg{color:red; display:none;}

/* button */
.btn {}
.btn-main{backgroung:#666; color:#fff}
.btn-login{}


/* login view */
.login-input {border:1px solid red;}